################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/MyPrivateNote/obj/Debug/netcoreapp2.2
/MyPrivateNote/bin/Debug/netcoreapp2.2
/.vs/MyPrivateNote
