################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/MyPrivateNote/obj/Debug/netcoreapp2.2
